
:root {
    --colorPrimaryText: #000000d9;    
    --colorPrimary1: #d0e2ff;    
    --colorPrimary2: #a6c8ff;    
    --colorPrimary3: #78a9ff;    
    --colorPrimary4: #4589ff;    
    --color2nd1: #009e9e;    
    --color2nd2: #00bbbb;    
    --color2nd3: #3ddbdb;    
    --color3rd1: #b49af2;    
    --color3rd2: #9f78ed;    
    --color3rd3: #874ce6;    
    --color3rd4: #b3ed37;    
    --colorButtonBorder: #000000;    
    --colorBorderlineButton: #000000cf;    
}