.typographyHeader1 
 {
  
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeader2 
 {
  
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeader3 
 {
  
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeader4 
 {
  
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeader5 
 {
  
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLargeParagraph 
 {
  
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyNormalParagraph 
 {
  
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyButton 
 {
  
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyAthleticHeader 
 {
  
  font-family: "Athletic Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

